
		<div class="login h-100">
            <div class="container h-100">
            <div class="row h-100 align-items-center">
            <div class="col-12 col-sm- 12 col-md-5 col-lg-5 light-gray">
            <div class="mb-4 mt-3 login-logo"><a href="#"><img src="../../assets/images/logo.png" alt="logo" /></a></div>
            <div class="login-content-sec text-center">
            <div class="login-green-text ">Inventory</div>
            <h3 class="mb-5 mt-3">THE WORLD’S 1ST DPOS BASED Inventory Management PLATFORM
    </h3>
            <div class="learn-more mb-5"><a href="#">Learn More</a></div>
            <div class="login-social">
            <ul>
            <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            </ul>
            </div>
            </div>
            </div>
            <div class="col-12 col-sm- 12 col-md-7 col-lg-7 login-form-wrap">
            <h2 class="mt-0" appBlackonhover>Sign in to IMS.</h2>
            <div class="small-text-sign mb-5">Enter your details below.</div>
             <form>
        <div class="form-group">
            <label>USER NAME</label>
            <input name="" class="form-control" placeholder="abc@gmail.com" type="email">
        </div> <!-- form-group// -->
        <div class="form-group">
            <label>PASSWORD</label>
            <input class="form-control" placeholder="******" type="password">
        </div> <!-- form-group// --> 
        <div class="form-group forgot-wrap"> 
        <div class="checkbox">
          <label> <input type="checkbox">Remember password </label>
          <div class="forgate-password pull-right"><a href="#">Forgot User name/Password?</a></div>
        </div> <!-- checkbox .// -->
        </div> <!-- form-group// -->  
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-inline custm-btn icon-bgdark "> SignIn  </button>
        </div> <!-- form-group// -->                                                           
    </form>
            </div>
            
            
            </div>
            </div>
            </div>